/*=== 4. FOOTER ===*/
/*=== 4.1 FOOTER INFO ===*/
.footerInfoArea{
	background-image: url("../img/footer/footer-bg-1.png");
	background-attachment: fixed;
	width: 100%;
	background-repeat: repeat;
	padding-top: $base*12;
	@include mobile-all{
		overflow: visible;
		height: auto;
	}
	@include tablet{
		overflow: hidden;
		height: $base*87+2px;
	}
}
.footerTitle{
	display: block;
	margin-bottom: $base*6;
	>a{
		width: $base*30;
		height: $base*9+1px;
		display: block;
		img{
			width: 100%;
		}
	}
	>h4{
		color: $white-color;
		font-size: $base*4;
		margin: 0;
		font-family: 'Dosis', sans-serif;
		font-weight: 700;
		text-transform: capitalize;
	}
}
.footerInfo{
	p{
		margin-bottom: $base*6;
		color: lighten(desaturate(adjust-hue(#ea7066, 207.9545), 31.4176), 23.5294);
	}
	>.input-group{
		border-radius: $base-xs*2+1px;
		margin-bottom: $base*6;
		@include box-shadow(0, $base-xs*2, 0, rgba($white-color, .1));
		.form-control{
			background-color: lighten(desaturate(adjust-hue(#ea7066, -4.5455), 75.8621), 30.1961);
			border: 0;
			color: darken(desaturate(adjust-hue(#ea7066, -4.5455), 75.8621), 25.8824);
			height: $base*8;
		}
		.input-group-addon{
			border-radius: 0 $base-xs*2 $base-xs*2 0;
			background-color: $primary-color;
			border: 0;
			@include transition(all 0.3s ease-in-out);
			i{
				color: $white-color;
			}
			&:hover{
				background-color: $primary-color;
				border-color: $primary-color;
				@include opacity(1);
			}
		}
	}
}
.footerList{
	>li{
		>a{
			color: lighten(desaturate(adjust-hue(#ea7066, 207.9545), 31.4176), 23.5294);
			i{
				margin: 0 $base*2 $base*5 0
			}
		}
	}
}
.postLink{
	>li{
		@include add-border(1px, rgba(darken(desaturate(adjust-hue(#ea7066, 205.4545), 67.3875), 42.7451), .3), bottom);
		margin-bottom: $base*4;
		padding-bottom: $base*4; 
		&:last-child{
			border-bottom: none;
		}
		>.media{
			>.media-body{
				>.media-heading{
					>a{
						color: lighten(desaturate(adjust-hue(#ea7066, 207.9545), 31.4176), 23.5294);
						font-size: $base-xs*7;
						@include tablet{
							text-overflow: ellipsis;
							white-space: nowrap;
							overflow: hidden;
						}
						@include large-desktops{
							text-overflow: ellipsis;
							white-space: normal;
							overflow: hidden;
						}
						@include desktops{
							text-overflow: ellipsis;
							white-space: nowrap;
							overflow: hidden;
						}
						@include large-desktops{
							text-overflow: ellipsis;
							white-space: normal;
							overflow: hidden;
						}
					}
				}
				>p{
					margin-bottom: 0;
				}
			}
			>.media-left{
				>.img-rounded{
					border-width: $base-xs;
					border-style: solid;
					border-radius: $base-xs*6;
					width: $base*12;
					height: $base*12;
				}
			}
		}
	}
}
/*=== 4.2 COPY RIGHT ===*/
.copyRight{
	display: block;
	background-color: darken(desaturate(adjust-hue(#ea7066, 192.5974), 3.4483), 60.1961);
	padding: $base*4 0;
	.list-inline{
		@include mobile-all{
			text-align: center;
			margin-bottom: $base*4;
		}
		@include tablet{
			text-align: right;
			margin: 0;
		}
		li{
			@include tablet{
				padding: $base-xs;
			}
			@include desktops{
				padding: 0 $base-xs;
			}
			@include large-desktops{
				padding: 0 $base;
			}
			a{
				display: block;
				text-align: center;
				border-radius: 100%;
				color: $white-color;
				&:hover{
					@include opacity(1);
				}
				@include mobile-all{
					width: $base*7;
					height: $base*7;
					line-height: $base*7;
					font-size: $base-xs*7;
				}
				@include tablet{
					width: $base*5;
					height: $base*5;
					line-height: $base*5; 
					font-size: $base*2;
				}
				@include desktops{
					width: $base-xs*14;
					height: $base-xs*14;
					line-height: $base-xs*14;
					font-size: $base-xs*7; 
				}
			}
		}
	}
}
.copyRightText{
	p{
		margin-bottom: 0;
		color: lighten(desaturate(adjust-hue(#ea7066, 207.9545), 31.4176), 23.5294);
		a{
			color: lighten(desaturate(adjust-hue(#ea7066, 207.9545), 31.4176), 23.5294);
			&:hover{
				color: $primary-color;
			}
		}
		@include mobile-all{
			font-size: $base-xs*5+1px;
			text-align: center;
			line-height: $base*4+1px;
		}
		@include tablet{
			font-size: $base-xs*6+1px;
			text-align: left;
			line-height: $base-xs*14;
		}
	}
}