/*=== 7. BLOG ===*/
.singleBlog{
	p, .blogInfo{
		margin-bottom: $base*6 !important;
	}
}
.thumbnailContent{
	> .caption{
		&.singleBlog{
			h3{
				line-height: $base-xs*17;
				font-family: 'Dosis', sans-serif;
				text-transform: capitalize;
				font-weight: 700;
				margin: 0 0 $base*4 0;
				width: 100%;
				text-overflow: ellipsis;
				white-space: normal;
				overflow: hidden;
				display: block;
			}
		}
	}
}
.socailLink{
	&.list-inline{
		text-align: left;
		li{
			@include tablet{
				padding: $base-xs;
			}
			@include desktops{
				padding: 0 $base-xs;
			}
			@include large-desktops{
				padding: 0 $base;
			}
			a{
				display: block;
				text-align: center;
				border-radius: 100%;
				color: $white-color !important;
				&:hover{
					@include opacity(1);
				}
				@include mobile-all{
					width: $base*7;
					height: $base*7;
					line-height: $base*7;
					font-size: $base-xs*7;
				}
				@include tablet{
					width: $base*5;
					height: $base*5;
					line-height: $base*5; 
					font-size: $base*2;
				}
				@include desktops{
					width: $base-xs*14;
					height: $base-xs*14;
					line-height: $base-xs*14;
					font-size: $base-xs*7; 
				}
				i{
					margin: 0 !important;
				}
			}
		}
	}
}

.blogComments{
	background-color: lighten(desaturate(adjust-hue(#ea7066, -4.5455), 75.8621), 31.3725);
	padding: $base*3;
	@include box-shadow(0, $base-xs*2, 0, rgba($black-color, .1) );
	@include border-radius($base-xs*4+1px);
	margin-bottom: $base*4;
	h3{
		font-family: 'Dosis', sans-serif;
		font-size: $base-xs*12;
		color: $primary-color;
		font-weight: 700;
		text-transform: capitalize;
		margin-bottom: $base*6;
	}
}
.commentsList{
	.media{
		padding-bottom: $base*4;
		margin-top: $base*4; 
		@include add-border(1px, lighten(desaturate(adjust-hue(#ea7066, -4.5455), 75.8621), 21.1765), bottom );
	}
	li:last-child{
		border: none;
	}
	.media-left{
		padding-right: $base*5;
		img{
			width: $base*10;
			height: $base*10;
		}
	}
	.media-body{
		overflow: visible;
		.media-heading{
			font-weight: 600;
			font-size: $base-xs*7;
			color: darken(desaturate(adjust-hue(#ea7066, -4.5455), 75.8621), 25.8824);
			margin-bottom: $base*3;
			text-transform: capitalize;
		}
		p{
			font-size: $base-xs*6+1px;
			margin-bottom: $base*4;
		}
	}
}
