/*================= 8 COMING SOON ==================*/
/*=== 8.1 COMING SOON BG ===*/
.comingSoonBg{
	margin: 0;
	padding: 0;
	width: 100%;
	height: $base*168;
	overflow: hidden;
	background: no-repeat center top fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: $white-color;
}
.comingTitle{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding: $base*7 0;
	text-align: center;
	@include mobile-all{
		padding: $base*3 0;
	}
	@include tablet{
		padding: $base*7 0;
	}
	img{
		width: $base*40;
		height: $base*12;
	}
}
.comingContent{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:      translate(-50%, -50%);
	text-align: center;
	@include mobile-all{
		width: 100%;
		min-width: 100%;
		padding: 0 $base*2;
	}
	@include tablet{
		width: auto; 
		min-width: $base*117;
		padding: 0
	}
	h1{
		font-weight: 700;
		color: darken(desaturate(adjust-hue(#ea7066, -4.5455), 75.8621), 52.5490);
		font-size: $base-xs*21;
		font-family: 'Dosis', sans-serif;
		text-transform: capitalize;
		@include mobile-all{
			font-size: $base*6;
			margin: $base*4 0 $base*3 0;
		}
		@include tablet{
			font-size: $base*8;
			margin: $base*14 0 $base*5 0;
		}
	}
	p{
		color: $secondary-color;
		margin-bottom: $base*4;
		@include mobile-all{
			font-size: $base*2;
			line-height: $base*3;
		}
		@include tablet{
			font-size: $base-xs*12;
			line-height: $base*4+1px;
		}
	}
	.input-group{
		margin: 0 auto;
		margin-bottom: $base*4;
		@include mobile-all{
			width: 100%;
		}
		@include tablet{
			width: $base*110;
		}
		.form-control{
			height: $base*10;
			box-shadow: none;
			background-color: transparent;
			border-color: rgba(lighten(desaturate(adjust-hue(#ea7066, 245.9545), 13.3621), 9.0196), .5);
			border-width: $base-xs+1px; 
			color: darken(desaturate(adjust-hue(#ea7066, -4.5455), 75.8621), 52.5490);
			border-right: none;
			@include border-radius(8px 0 0 8px);
			width: 92%;
		}
		.input-group-addon{
			height: $base*10;
			background-color: transparent;
			color: darken(desaturate(adjust-hue(#ea7066, -4.5455), 75.8621), 12.5490);
			@include add-border(3px, rgba(lighten(desaturate(adjust-hue(#ea7066, 245.9545), 13.3621), 9.0196), .5), all);
			border-left: none;
			@include border-radius(0 8px 8px 0);
			padding: $base-xs*3 $base*2; 
			display: inline-block;
			float: left;
			width: 8%;
		}
	}
	.list-inline{
		li{
			@include tablet{
				padding: $base-xs;
			}
			@include desktops{
				padding: 0 $base-xs;
			}
			@include large-desktops{
				padding: 0 $base;
			}
			a{
				display: block;
				text-align: center;
				border-radius: 100%;
				color: $white-color !important;
				&:hover{
					@include opacity(1);
				}
				@include mobile-all{
					width: $base*7;
					height: $base*7;
					line-height: $base*7;
					font-size: $base-xs*7;
				}
				@include tablet{
					width: $base*5;
					height: $base*5;
					line-height: $base*5; 
					font-size: $base*2;
				}
				@include desktops{
					width: $base-xs*14;
					height: $base-xs*14;
					line-height: $base-xs*14;
					font-size: $base-xs*7; 
				}
				i{
					margin: 0 !important;
				}
			}
		}
	}
}
.count-down{
	padding: 0 0 $base*7 0;
	#simple_timer{
		width: 100%;
		margin: 0 auto;
		color: darken(saturate(adjust-hue(#ea7066, 38.7273), 8.7533), 4.1176);
		text-align: center;
		font-family: 'Dosis', sans-serif;
		.table-cell{
			display: inline-block;
			@include mobile {
				margin: 0 $base*2;
			}
			@include tablet {
				margin: 0 $base*2;
			}
			@include desktops {
				margin: 0 $base*2;
			}
			@include large-desktops {
				margin: 0 $base*2+2px;
			}
			.tab-val{
				font-weight: 700;
				display: block;
				margin-bottom: $base*4;
				@include border-radius($base-xs*3+1px);
				background-color: lighten(desaturate(adjust-hue(#ea7066, -4.5455), 75.8621), 31.3725);
				@include box-shadow(0, $base-xs*2, 0, rgba($black-color, .1) );
				@include mobile-all {
					width: 65px;
					height: 65px;
					line-height: 65px;
					font-size: $base*5;
				}
				@include tablet {
					width: 85px;
					height: 85px;
					line-height: 85px;
					font-size: $base*7;
				}
				@include desktops {
					width: 85px;
					height: 85px;
					line-height: 85px;
					font-size: $base*7;
				}
				@include large-desktops {
					width: 120px;
					height: 120px;
					line-height: 120px;
					font-size: $base*14;
				}
			}
			.tab-metr{
				display: none;
			}
			&.hour{
				.tab-val{
					color: darken(desaturate(adjust-hue(#ea7066, 73.3985), 19.8411), 3.3333);
				}
			}
			&.minute{
				.tab-val{
					color: $primary-color;
				}
			}
			&.second{
				.tab-val{
					color: lighten(desaturate(adjust-hue(#ea7066, 193.0155), 25.8621), 1.9608);
				}
			}
		}
	}
}