/*=== 2.1 HEADER ===*/
.header{
	background-color: #ffffff;
	@include box-shadow(0,1px, 2px, rgba(0, 0, 0, 0.10));
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;
}

/*=== 2.1.1 TOPBAR ===*/
.topbar{
	padding:15px 0 40px;
	ul{
		float: right;
		li{
			display: inline-block;
			margin-left: 20px;
			font-size: 14px;
			font-weight: 300;
			color: #97a0a5;
			position:relative;
			padding-left: 23px;
			a{
				display: inline-block;
				color: #97a0a5;
				font-size: 12px;
				text-decoration: none;
				@include transition(color 0.3s);
				&:hover{
					color: $primary-color;
					@include transition(color 0.3s);
				}
			}
			i{
				font-size: 20px;
				position:absolute;
				top:2px;
				left:0;
			}
			i.fa-phone{
				font-size: 12px;
				padding: 2px 4px;
				border: 1px solid #97a0a5;
				@include border-radius(50%);
				margin-right: 5px;
			}
			i.fa-caret-down{
				font-size: 17px;
				right:0;
				left:auto;
				top:18%;
			}
		}
	}
}
li.language.dropdown{
	padding: 0;
	ul.dropdown-menu{
		width:100px;
	    position: absolute;
	    top: 100%;
	    left: auto;
	    right:0;
	    min-width: 100px;
	    padding: 5px 0;
	    margin: 2px 0 0;
	    font-size: 14px;
	    border: 1px solid $border-color;
	    @include border-radius;
	    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.05);
	    box-shadow: 0 2px 2px rgba(0,0,0,.05);
		li{
			margin:0;
			padding:0;
			@include box-sizing(border-box);
			width:100%;
			a{
				display:block;
				color: #46555e;
				@include transition(color 0.5s);
				font-size: 13px;
				font-weight: 500;
				&:hover, &:focus{
					background: rgba(0, 0, 0, 0.07);
				}
			}
		}
		li.active{
			a{
				background: transparent;
				color:$primary-color;
				@include transition(color 0.3s);
			}
		}
	}
}
li.language.dropdown > a{
	padding-left: 23px;
	padding-right: 15px;
}
li.language.dropdown.open > a{
	color:$primary-color;
	@include transition(color 0.5s);
}

/*=== 2.1.2 NAVBAR ===*/
.navbar-default {
	.navbar-toggle, .navbar-toggle:hover, .navbar-toggle:focus{
	    border: 1px solid $primary-color;
	    background: $primary-color;
	    margin: 20px 0 0 0;
	    .icon-bar {
		    background-color: #ffffff;
		}
	}
}
.navbar-default {
    background-color: transparent;
    border: none;
    margin-bottom: 0;
    @include tablet {
    	margin-bottom: 10px;
    }
}
a.logo{
	display: inline-block;
	width: 170px;
	margin-top: -5px;
	margin-bottom: 10px;
	float: left;
	height: auto;
	@include tablet {
		margin-top: -35px;
		width: 200px;
		margin-bottom: 0;
	}
	img{
		max-width: 100%;
	}
}
.navbar-collapse{
	float: none;
	width: 100%;
	margin: 0 !important;
	text-align: center;
	@include tablet {
		float: right;
		padding: 0;
		width: auto;
		text-align: none;
	}
	ul.navbar-nav{
		li{
			a{
				padding: 8px 20px;
				background-color: transparent;
				font-size: 15px;
				font-weight: 400;
				color: #46555e;
				@include transition(color 0.3s);
				text-transform: uppercase;
				@include tablet {
					font-size:12px;
					padding: 8px 8px;
				}
				@include desktops {
					font-size:15px;
					padding:8px 20px;
				}
				&:hover,&:focus{
					background-color: transparent;
					color: $primary-color;
					@include transition(color 0.3s);
				}
			}
		}
		li.active{
			a{
				background-color: transparent;
				color: $primary-color;
				@include transition(color 0.3s);
				&:hover,&:focus{
					background-color: transparent;
					color: $primary-color;
					@include transition(color 0.3s);
				}
			}
		}
		li.book-online{
			width: 160px;
			margin: 0 auto;
			@include tablet {
				margin-left: 8px;
				width: auto;
			}
			@include desktops {
				margin-left: 20px;	
			}
			a{
				padding: 8px 22px 8px 35px;
				background-color: $primary-color;
				@include transition(background-color 0.3s);
				color: $text-light;
				position: relative;
				@include border-radius(5px);
				&:hover,&:focus{
					background-color: tint($primary-color, 20%);
					color: $text-light;
				}
				span{
					position: absolute;
					left: 10px;
					padding-right: 15px;
					top: 10px;
					@include tablet {
						top: 12px;
					}
					@include desktops {
						top: 10px;
					}
				}
			}
		}
	}
}
.header .navbar-nav.navbar-right:last-child{
	margin:0px;
}
.nav.navbar-nav.navbar-right{
	padding:10px 0;
	@include tablet {
		padding:0;
	}
}
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
    color: $primary-color;
    background-color: transparent;
}
.header .navbar-nav  li.dropdown  {
	.dropdown-menu{
		border-radius: 0;
	    box-shadow: none;
	    border: none;
	    width: 100%;
	    text-align: center;
		padding:0 10px;
		right:0;
		left: auto;
		top:58px;
		@include tablet {
		    width:180px;
		    border: 1px solid $border-color;
		    @include border-radius;
			@include box-shadow(0, 4px, 10px, rgba(0,0,0,0.33));
		}
		li  {
			padding-left: 30px;
			@include tablet {
			    padding-left: 0;
			}
			a{
				color: #46555e;
				border-bottom:none;
				font-size:15px;
				font-weight: 300;
				text-transform:capitalize;
				padding:9px 0 !important;
				display:block;
				background:none;
				&:hover, &:focus{
					color:$primary-color;
				}
				@include tablet {
					color: #46555e;
					border-bottom:1px solid $border-color;
					&:hover, &:focus{
						color:$primary-color;
						background:none;
					}
				}
			}
		}
		li.active  a{
			background:none;
			color:$primary-color;
		}
		li:last-child a{
			border:none;
		}
	}
}
@include tablet {
	.dropdown > ul{
	  display: block;
	  visibility: hidden;
	  opacity: 1;
	  -webkit-transition: all 0.5s linear;
	  transition: all 0.5s linear;
	}
	.dropdown:hover > ul, ul.dropdown-menu:hover{
		visibility: visible;
		opacity: 1;
	}
}