/*================= 13. CHECKOUT STEP ==================*/
/*========== 13.1 CHECKOUT PROGRESS ==========*/
.progress-wizard {
	margin-top: 40px;
	margin: $base*8 0 $base*14 0;
	@include add-border(1px, lighten(desaturate(adjust-hue($primary-color, -28.5333), 100.0000), 31.9608), bottom);
	padding: 0 0 $base*6 0;
	> .progress-wizard-step{
		padding: 0; 
		position: relative; 
		height: $base*20;
		@include mobile-all{
			margin-bottom: $base*6;			
		}
		@include tablet{
			margin-bottom: 0;			
		}
		> .progress {
			position: relative; 
			border-radius: 0px; 
			height: $base; 
			box-shadow: none; 
			margin: 20px 0;
			> .progress-bar {
				width:0px; 
				box-shadow: none; 
				@include mobile-all{
					background-color: transparent;
				}
				@include tablet{
					background: $primary-color;
				}
			}
		}
		&.complete{
			> .progress{
				> .progress-bar {
					width:100%;
				}
			}
		}
		&.active {
			> .progress {
				> .progress-bar {
					width:50%;
				}
			}
		}
	}
}
.progress-wizard {
	> .progress-wizard-step {
		> .progress {
			> .progress-bar {
				width:0%;
			}
		}
	}
}
.progress-wizard {
	> .progress-wizard-step:first-child.active {
		> .progress {
			> .progress-bar {width:0%;}
		}
	}
}
.progress-wizard {
	> .progress-wizard-step:last-child.active {
		> .progress {
			> .progress-bar {width: 100%;}
		}
	}
}

.progress-wizard {
	> .progress-wizard-step:first-child  {
		> .progress {left: 50%; width: 50%;}
	}
}
.progress-wizard {
	> .progress-wizard-step:last-child  {
		> .progress {width: 50%;}
	}
}
.progress-wizard {
	> .progress-wizard-step.disabled {
		a.progress-wizard-dot{ pointer-events: none; }
	}
}
.progress{
	@include mobile-all{
		background-color: transparent;
	}
	@include tablet{
    background-color: lighten(desaturate(adjust-hue($primary-color, -28.5333), 100.0000), 31.1765);
	}
}
.progress-wizard {
	> .progress-wizard-step {
		> .progress-wizard-dot {
			display: block; 
			background-color: $white-color; 
			@include border-radius(100%);
			@include add-border(5px, $primary-color, all);
			padding: $base;
			text-align: center;
			color: $black-color;
			@include mobile-all{
				position: relative;
				top: 0;
				left: 0;
				margin: -20px auto 0 auto;
			}
			@include tablet{
				position: absolute; 
				top: -30px;
				left: 28%; 
				margin-top: -15px; 
				margin-left: -15px; 
			}
			i{
				display: block;
				color: $primary-color;
				font-size: $base-xs*12;
				line-height: $base*22; 
				width: $base*22;
				height: $base*22;
				@include border-radius(100%);
				background-color: lighten(desaturate(adjust-hue(#ea7066, -4.5455), 75.8621), 27.0588);
				text-align: center;
			}
			&:hover{
				@include opacity(1);
			}
		} 
	}
}
.progress-wizard {
	> .progress-wizard-step.disabled {
		> .progress-wizard-dot {
			border-color: lighten(desaturate(adjust-hue(#ea7066, -4.5455), 75.8621), 31.3725);
			color: darken(desaturate(adjust-hue(#ea7066, -4.5455), 75.8621), 25.8824);
			i{
				color: darken(desaturate(adjust-hue(#ea7066, -4.5455), 75.8621), 25.8824);
			}
		}
	}
}
.progress-wizard {
	> .progress-wizard-step.complete {
		> .progress-wizard-dot{
			// color: $white-color;
			i{
				color: $white-color;
				background-color: $primary-color;
			}
		}
	}
}
.progress-wizard{
	.progressInfo{
		text-align: center;
		margin: $base*14 0 0 -70px;
		font-family: 'Dosis', sans-serif;
		font-weight: 600;
		font-size: $base-xs*8;
		color: darken(desaturate(adjust-hue(#ea7066, -4.5455), 75.8621), 52.5490);
	}
}

/*========== 13.2 CHECKOUT INFO ==========*/
.checkoutInfo{
	&.panel{
		border: none;
		@include border-radius($base-xs*4);
	}
	.panel-heading{
		height: $base*16;
		padding: 0 $base*6;
		@include border-radius($base-xs*4 $base-xs*4 0 0);
		.panel-title{
			font-family: 'Dosis', sans-serif;
			font-weight: 700;
			font-size: $base-xs*12;
			color: $white-color;
			line-height: $base*16;
			text-transform: capitalize; 
		}
	}
	.panel-body{
		@include add-border(1px, lighten(desaturate(adjust-hue(#ea7066, -4.5455), 75.8621), 21.1765), all);
		border-top: none;
		@include border-radius( 0 0 $base-xs*4 $base-xs*4);
		padding: $base*10 $base*6;
	}
	.form-group{
		>label{
			color: darken(desaturate(adjust-hue(#ea7066, -4.5455), 75.8621), 52.5490);
			font-weight: 400;
		}
		>.form-control{
			height: $base*9;
			border-width: $base-xs+1px;
			@include border-radius($base-xs*3+1px);
		}
		>textarea.form-control{
			height: $base*31;
		}
	}
	.checkbox{
		label{
			color: darken(desaturate(adjust-hue(#ea7066, -4.5455), 75.8621), 52.5490);
		}
		a{
			&:hover{
				color: $primary-color;
			}
		}
	}
}
.continueBtnArea{
	.btn-primary{
		background-color: lighten(desaturate(adjust-hue(#ea7066, -4.5455), 75.8621), 31.3725);
		color: darken(desaturate(adjust-hue(#ea7066, -4.5455), 75.8621), 25.8824);
		&:hover{
			background-color: $primary-color;
			color: $white-color;
		}
	}
}
.lowerPartTitle{
	h4{
		font-family: 'Dosis', sans-serif;
		font-weight: 700;
		font-size: $base-xs*12;
		color: $primary-color;
		text-transform: capitalize;
		margin-top: $base*3;
		span{
			color: darken(desaturate(adjust-hue(#ea7066, -4.5455), 75.8621), 52.5490);
		}
	}
	p{
		margin-bottom: $base*6;
		color: darken(desaturate(adjust-hue(#ea7066, -4.5455), 75.8621), 52.5490);
	}
}
.blankLabel{
	height: $base-xs*8;
}
.alert{
	&.alert{
		@include add-border(3px, rgba(darken(desaturate(adjust-hue(#ea7066, 117.1688), 47.6363), 14.5098), .5), all);
		@include border-radius($base-xs*3+1px);
		font-family: 'Dosis', sans-serif;
		font-weight: 600;
		font-size: $base-xs*12;
		color: darken(desaturate(adjust-hue(#ea7066, 117.1688), 47.6363), 14.5098);
		padding: $base*3 $base*6;
		.successAlert{
			width: $base*10;
			height: $base*10;
			line-height: $base*10;
			@include border-radius(100%);
			background-color: darken(desaturate(adjust-hue(#ea7066, 117.1688), 47.6363), 14.5098);
			color: $white-color;
			display: inline-block;
			text-align: center;
			margin-right: $base-xs*12;
		}
		.close{
			top: $base-xs*6;
			right: 0;
			color: darken(desaturate(adjust-hue(#ea7066, 117.1688), 47.6363), 14.5098);
			@include opacity(1);
		}
	}
}
.addressInfo{
	dt{
		width: $base*14;
		text-align: left;
		font-weight: 600;
		color: darken(desaturate(adjust-hue(#ea7066, -4.5455), 75.8621), 52.5490);
	}
	dd{
		margin-left: $base*14;
		color: darken(desaturate(adjust-hue(#ea7066, -4.5455), 75.8621), 52.5490); 
	}
}