/*=== 3. HEADER ===*/
/*=== 3.1 TOP COLOR BAR ===*/
.color-bar{
	width: 100%;
	.col-sm-1{
		height: 3px;
	}
}
.top-fixed{
	position: fixed;
	z-index: 2000;
}
/*=== 3.2 TOP INFO BAR ===*/
.top-info-bar{
	padding: $base*3 0 $base-xs*6 0;
	display: block;
	width: 100%;
}
/*=== 3.3 HEADER TRANSPARENT ===*/
.navbar-default{
	background-color: transparent;
	border: none;
	border-radius: 0;
	margin-bottom: 0;
}
.navbar-brand {
  float: left;
  width: $base*39+1px;
  > img{
  	width: 100%;
  }
  @include mobile-all{
  	height: $base*16;
  	padding: $base*3;
  }
  @include tablet{
  	height: $base*22;
  	padding: $base*6 $base*3;
  }
}
.navbar-nav{
	@include mobile-all{
		background-color: $white-color;
		margin-top: 0;
	}
	@include tablet{
		background-color: transparent;
	}
	&.navbar-right{
		@include mobile-all{
			margin-right: -15px;
		}
		@include tablet{
			margin-right: 0;
		}
	}
	>li{
		>a{
			text-transform: capitalize;
			font-weight: 600;
			font-size: $base*3;
			color: $secondary-color;
			> i{
				width: $base*7;
				height: $base*7;
				line-height: $base*7;
				text-align: center;
				border-radius: 100%;
				display: block;
				color: $white-color;
				font-size: $base-xs*8;
				@include mobile-all{
					display: inline-block;
					margin: 0 $base*2 0 0;
				}
				@include tablet{
					display: block;
					margin: 0 auto $base-xs*6 auto;
				}
			}
			> span{
				padding: 0;
				line-height: $base-xs*8;
				text-align: center;
				text-transform: capitalize;
				@include mobile-all{
					display: inline-block;
				}
				@include tablet{
					width: auto;
					padding: 0 $base*3;
					display: block;
				}
				@include desktops{
					width: 110px;
					padding: 0;
				}
			}
			&:hover{
				background-color: transparent;
			}
			@include mobile-all{
				color: $black-color !important;
				padding: $base-xs*6;
			}
			@include tablet{
				margin: 0;
				padding: $base-xs*11+1px 0;
			}
		}
		&:last-child{
			>a{
				>span{
					width: auto;
					@include mobile-all{
						padding-left: 0;
					}
					@include tablet{
						padding-left: 15px;
					}
				}
			}
		}
		&.active{
			a, a:hover{
				background-color: transparent !important;
				@include opacity(1);
			}
		}
		&.open{
			a{
				background-color: transparent !important;
				&:hover{
					background-color: transparent !important;
				}
			}
		}
		&.dropdown{
			.dropdown-menu{
				box-shadow: none;
				a{
					padding: $base-xs+1px $base*4;
					margin-bottom: 0;
				}
			}
			&.megaDropMenu{
				position: static;
				.dropdown-menu{
					margin: -1px auto 0 auto;
					right: 15px;
					@include border-radius(5px);
					@include mobile-all{
						left: 0;
						padding: 0;
						width: 100%;
					}
					@include tablet{
						left: 15px;
						padding: $base*2 $base 0;
						width: 720px;
					}
					@include desktops{
						width: 940px;
					}
					@include large-desktops{
						width: 1140px;
					}
					.list-unstyled{
						width: 100%;
						float: left;
						@include mobile-all{
							padding-bottom: $base;
						}
						@include tablet{
							padding-bottom: $base*3;
						}
						li{
							&.listHeading, &:first-child{
								float: left;
								font-weight: 700;
								font-family: 'Dosis', sans-serif;
								@include mobile-all{
									padding: $base*2 $base-xs*6 $base*2 0;
									font-size: $base*4;
								}
								@include tablet{
									padding: $base*2 $base-xs*6;
									font-size: $base-xs*12;
								}
							}
							a{
								color: darken(desaturate(adjust-hue(#ea7066, -4.5455), 75.8621), 25.8824) !important;
								font-size: $base-xs*7;
								float: left;
								width: 100%;
								background-color: transparent !important;
								@include mobile-all{
									padding: $base-xs*3 $base-xs*6;
								}
								@include tablet{
									padding: $base*2 $base-xs*6;
								}
								&:hover{
									padding-left: $base-xs*11;
								}
							}
						}
					}
				}
			}
			&.singleDrop{
				.dropdown-menu{
					@include border-radius(5px);
					margin-top: -1px;
					padding: $base;
					@include mobile-all{
						min-width: 230px;
					}
					@include tablet{
						min-width: 230px;
					}
					li{
						a{
							color: darken(desaturate(adjust-hue(#ea7066, -4.5455), 75.8621), 25.8824) !important;
							font-size: $base-xs*7;
							float: none;
							width: 100%;
							background-color: transparent !important;
							@include mobile-all{
								padding: $base-xs*3 $base-xs*6 $base-xs*3 $base-xs*12;
							}
							@include tablet{
								padding: $base*2 $base-xs*6;
							}
							&:hover{
								background-color: lighten(desaturate(adjust-hue($primary-color, -28.5333), 100.0000), 40.1961) !important;
								color: $primary-color !important;
								padding-left: $base-xs*11;
							}
						}
						.dropdown-menu{
							margin-left: $base-xs*3+1px;
							li{
								a{
									@include mobile-all{
										padding: $base-xs*3 $base-xs*6 $base-xs*3 $base-xs*18;
									}
									@include tablet{
										padding: $base*2 $base-xs*6;
									}
									&:hover{
										padding-left: $base-xs*11;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.dropdown-submenu{
	position:relative;
	a{
		position: relative;
		i{
			position: absolute;
			right: $base*2;
			top: $base-xs*6+1px;
		}
	}
	>.dropdown-menu{
		top:0;
		margin-top: 0 !important;
		margin-left:-1px;
		-webkit-border-radius:0 6px 6px 6px;
		-moz-border-radius:0 6px 6px 6px;
		border-radius:0 6px 6px 6px;
		@include mobile{
			left: 0;
		}
		@include tablet{
			left: 100%;
		}
	}
	&.pull-left{
		float:none;
		>.dropdown-menu{
			left:-100%;
			margin-left:10px;
			-webkit-border-radius:6px 0 6px 6px;
			-moz-border-radius:6px 0 6px 6px;
			border-radius:6px 0 6px 6px;
		}
	}
}
.navbar-toggle{
	margin-top: $base*4;
}
.navbar-toggle{
	background-color: $white-color;
}
.navbar-collapse{
	border-color: $white-color;
	li{
		&.dropdown{
			.dropdown-menu{
				box-shadow: none;
				@include mobile-all{
					position: relative;
					width: 100%;
					float: left;
					border: 0;
					display: block;
				}
				@include tablet{
					position: absolute;
					float: left;
					display: none;
				}
			}
			&.open{
				.dropdown-menu{
					display: block;
				}
			}
			&.dropdown-submenu{
				.dropdown-menu{
					@include mobile-all{
						position: relative;
						width: 100%;
						float: left;
						border: 0;
						display: block;
					}
					@include tablet{
						position: absolute;
						float: left;
						display: none;
					}
				}
				&.open{
					.dropdown-menu{
						display: block;
					}
				}
			}
		}
	}
}
.navbar-collapse{
	li.dropdown{
		.dropdown-menu{
			// display: block;
			// @include opacity(0);
			// visibility: hidden;
			// @include transition(all 0.3s ease-in-out);
		}
		&.open{
			.dropdown-menu{
				// @include opacity(1);
				// visibility: visible;
			}
		}
	}
}
/*=== 3.4 LIGHT HEADER ===*/
.lightHeader{
	@include transition(all 0.3s ease-in-out);
	@include box-shadow(0, $base-xs*2, 0, rgba($black-color, .1) );
	background-color: $white-color;
	position: relative;
	@include mobile-all{
		height: $base-xs*41+1px;
	}
	@include tablet{
		height: $base*22;
	}
	.navbar-nav{
		> li{
			> a{
				color: $black-color !important;
			}
		}
	} 
}
//menu item color
.navbar-nav{
	> li{
		&.color-1{
			> a{
				> span{
					@include mobile-all{
						border: none;
					}
					@include tablet{
						@include add-border(2px, darken(saturate(adjust-hue(#ea7066, 38.7273), 8.7533), 4.1176), right);
					}
				}
				&:hover{
					> span{
						color: darken(saturate(adjust-hue(#ea7066, 38.7273), 8.7533), 4.1176);
					}
				}
			}
		}
		&.color-2{
			> a{
				> span{
					@include mobile-all{
						border: none;
					}
					@include tablet{
						@include add-border(2px, darken(desaturate(adjust-hue(#ea7066, 73.3985), 19.8411), 3.3333), right);
					}
				}
				&:hover{
					> span{
						color: darken(desaturate(adjust-hue(#ea7066, 73.3985), 19.8411), 3.3333);
					}
				}
			}
			&.dropdown{
				&.megaDropMenu{
					.dropdown-menu{
						@include mobile-all{
							border: none;
						}
						@include tablet{
							@include add-border(4px, darken(desaturate(adjust-hue(#ea7066, 73.3985), 19.8411), 3.3333), top);
						}
						.list-unstyled{
							li{
								&.listHeading, &:first-child{
									color: darken(desaturate(adjust-hue(#ea7066, 73.3985), 19.8411), 3.3333);
								}
								a{
									&:hover{
										background-color: darken(desaturate(adjust-hue(#ea7066, 73.3985), 19.8411), 3.3333) !important;
										color: $white-color !important;
									}
								}
							}
						}
						&:after{
							@include mobile-all{
								display: none;
							}
							@include tablet{
								@include add-border(15px, transparent, right-left);
								@include add-border(7px, darken(desaturate(adjust-hue(#ea7066, 73.3985), 19.8411), 3.3333), bottom);
								content: "";
								display: inline-block;
								left: 60%;
								position: absolute;
								top: -11px;
								margin-left: -50px;
							}
						}
					}
				}
				&.open{
					a{
						> span{
							color: darken(desaturate(adjust-hue(#ea7066, 73.3985), 19.8411), 3.3333);
						}
					}
				}
			}
		}
		&.color-3{
			> a{
				> span{
					@include mobile-all{
						border: none;
					}
					@include tablet{
						@include add-border(2px, $primary-color, right);
					}
				}
				&:hover{
					> span{
						color: $primary-color;
					}
				}
			}
			&.singleDrop{
				>.dropdown-menu{
					@include mobile-all{
						border: none;
					}
					@include tablet{
						@include add-border(4px, $primary-color, top);
					}
					>li{
						a{
							&:hover{
								background-color: $primary-color !important;
								color: $white-color !important;
							}
						}
						>.dropdown-menu{
							@include mobile-all{
								border: none;
							}
							@include tablet{
								@include add-border(4px, $primary-color, left);
							}
							li{
								a{
									&:hover{
										background-color: $primary-color !important;
										color: $white-color !important;
									}
								}
							}
							&:after{
								@include mobile-all{
									display: none;
								}
								@include tablet{
									@include add-border(15px, transparent, top-bottom);
									@include add-border(7px, $primary-color, right);
									content: "";
									display: inline-block;
									left: -11px;
									position: absolute;
									top: 20%;
									margin-top: -15px;
								}
							}
						}
					}
					&:after{
						@include mobile-all{
							display: none;
						}
						@include tablet{
							@include add-border(15px, transparent, right-left);
							@include add-border(7px, $primary-color, bottom);
							content: "";
							display: inline-block;
							left: 20%;
							position: absolute;
							top: -11px;
							margin-left: -15px;
						}
					}
				}
				&.open{
					a{
						> span{
							color: $primary-color;
						}
					}
				}
			}
		}
		&.color-4{
			> a{
				> span{
					@include mobile-all{
						border: none;
					}
					@include tablet{
						@include add-border(2px, lighten(desaturate(adjust-hue(#ea7066, 193.0155), 25.8621), 1.9608), right);
					}
				}
				&:hover{
					> span{
						color: lighten(desaturate(adjust-hue(#ea7066, 193.0155), 25.8621), 1.9608);
					}
				}
			}
			&.singleDrop{
				>.dropdown-menu{
					@include mobile-all{
						border: none;
					}
					@include tablet{
						@include add-border(4px, lighten(desaturate(adjust-hue(#ea7066, 193.0155), 25.8621), 1.9608), top);
					}
					>li{
						a{
							&:hover{
								background-color: lighten(desaturate(adjust-hue(#ea7066, 193.0155), 25.8621), 1.9608) !important;
								color: $white-color !important;
							}
						}
						>.dropdown-menu{
							@include mobile-all{
								border: none;
							}
							@include tablet{
								@include add-border(4px, lighten(desaturate(adjust-hue(#ea7066, 193.0155), 25.8621), 1.9608), left);
							}
							li{
								a{
									&:hover{
										background-color: lighten(desaturate(adjust-hue(#ea7066, 193.0155), 25.8621), 1.9608) !important;
										color: $white-color !important;
									}
								}
							}
							&:after{
								@include mobile-all{
									display: none;
								}
								@include tablet{
									@include add-border(15px, transparent, top-bottom);
									@include add-border(7px, lighten(desaturate(adjust-hue(#ea7066, 193.0155), 25.8621), 1.9608), right);
									content: "";
									display: inline-block;
									left: -11px;
									position: absolute;
									top: 20%;
									margin-top: -15px;
								}
							}
						}
					}
					&:after{
						@include mobile-all{
							display: none;
						}
						@include tablet{
							@include add-border(15px, transparent, right-left);
							@include add-border(7px, lighten(desaturate(adjust-hue(#ea7066, 193.0155), 25.8621), 1.9608), bottom);
							content: "";
							display: inline-block;
							right: 20%;
							position: absolute;
							top: -11px;
							margin-right: -15px;
						}
					}
				}
				&.open{
					a{
						> span{
							color: lighten(desaturate(adjust-hue(#ea7066, 193.0155), 25.8621), 1.9608);
						}
					}
				}
			}
		}
		&.color-5{
			> a{
				> span{
					@include mobile-all{
						border: none;
					}
					@include tablet{
						@include add-border(2px, lighten(desaturate(adjust-hue(#ea7066, 245.9545), 13.3621), 9.0196), right);
					}
				}
				&:hover{
					> span{
						color: lighten(desaturate(adjust-hue(#ea7066, 245.9545), 13.3621), 9.0196);
					}
				}
			}
			&.singleDrop{
				>.dropdown-menu{
					@include mobile-all{
						border: none;
					}
					@include tablet{
						@include add-border(4px, lighten(desaturate(adjust-hue(#ea7066, 245.9545), 13.3621), 9.0196), top);
					}
					>li{
						a{
							&:hover{
								background-color: lighten(desaturate(adjust-hue(#ea7066, 245.9545), 13.3621), 9.0196) !important;
								color: $white-color !important;
							}
						}
						>.dropdown-menu{
							@include mobile-all{
								border: none;
							}
							@include tablet{
								@include add-border(4px, lighten(desaturate(adjust-hue(#ea7066, 245.9545), 13.3621), 9.0196), left);
							}
							li{
								a{
									&:hover{
										background-color: lighten(desaturate(adjust-hue(#ea7066, 245.9545), 13.3621), 9.0196) !important;
										color: $white-color !important;
									}
								}
							}
							&:after{
								@include mobile-all{
									display: none;
								}
								@include tablet{
									@include add-border(15px, transparent, top-bottom);
									@include add-border(7px, lighten(desaturate(adjust-hue(#ea7066, 245.9545), 13.3621), 9.0196), right);
									content: "";
									display: inline-block;
									left: -11px;
									position: absolute;
									top: 20%;
									margin-top: -15px;
								}
							}
						}
					}
					&:after{
						@include mobile-all{
							display: none;
						}
						@include tablet{
							@include add-border(15px, transparent, right-left);
							@include add-border(7px, lighten(desaturate(adjust-hue(#ea7066, 245.9545), 13.3621), 9.0196), bottom);
							content: "";
							display: inline-block;
							right: 20%;
							position: absolute;
							top: -11px;
							margin-right: -15px;
						}
					}
				}
				&.open{
					a{
						> span{
							color: lighten(desaturate(adjust-hue(#ea7066, 245.9545), 13.3621), 9.0196);
						}
					}
				}
			}
		}
		&.color-6{
			> a{
				> span{
					@include mobile-all{
						border: none;
					}
					@include tablet{
						@include add-border(2px, lighten(desaturate(adjust-hue(#ea7066, 327.2806), 2.6137), 3.3333), right);
					}
				}
				&:hover{
					> span{
						color: lighten(desaturate(adjust-hue(#ea7066, 327.2806), 2.6137), 3.3333);
					}
				}
			}
			&.singleDrop{
				>.dropdown-menu{
					@include mobile-all{
						border: none;
					}
					@include tablet{
						@include add-border(4px, lighten(desaturate(adjust-hue(#ea7066, 327.2806), 2.6137), 3.3333), top);
					}
					>li{
						a{
							&:hover{
								background-color: lighten(desaturate(adjust-hue(#ea7066, 327.2806), 2.6137), 3.3333) !important;
								color: $white-color !important;
							}
						}
						>.dropdown-menu{
							@include mobile-all{
								border: none;
							}
							@include tablet{
								@include add-border(4px, lighten(desaturate(adjust-hue(#ea7066, 327.2806), 2.6137), 3.3333), left);
							}
							li{
								a{
									&:hover{
										background-color: lighten(desaturate(adjust-hue(#ea7066, 327.2806), 2.6137), 3.3333) !important;
										color: $white-color !important;
									}
								}
							}
							&:after{
								@include mobile-all{
									display: none;
								}
								@include tablet{
									@include add-border(15px, transparent, top-bottom);
									@include add-border(7px, lighten(desaturate(adjust-hue(#ea7066, 327.2806), 2.6137), 3.3333), right);
									content: "";
									display: inline-block;
									left: -11px;
									position: absolute;
									top: 20%;
									margin-top: -15px;
								}
							}
						}
					}
					&:after{
						@include mobile-all{
							display: none;
						}
						@include tablet{
							@include add-border(15px, transparent, right-left);
							@include add-border(7px, lighten(desaturate(adjust-hue(#ea7066, 327.2806), 2.6137), 3.3333), bottom);
							content: "";
							display: inline-block;
							right: 20%;
							position: absolute;
							top: -11px;
							margin-right: -15px;
						}
					}
				}
				&.open{
					a{
						> span{
							color: lighten(desaturate(adjust-hue(#ea7066, 327.2806), 2.6137), 3.3333);
						}
					}
				}
			}
		}
	}
}

.navbar-nav{
	> li:last-child{
		> a{
			> span{
				border-right: none;
			}
		}
	}
}
.navbar-right{
	margin-right: 0;
}
.navbar-default{
	.navbar-toggle{
		background-color: $primary-color !important;
		border-color: $primary-color !important;
		@include box-shadow(0, $base-xs*2, 0, rgba($black-color, .1) );
		.icon-bar{
			background-color: $white-color !important;
		}
	}
}
#menuBar{
	&.menu-sm{
		height: $base*18;
		.navbar-brand{
			height: $base*18;
			padding: 20px 15px;
		}
		.navbar-nav > li > a{
			padding: $base-xs*6+1px 0;
		}
	}
}