/*=== Text color ===*/
a:hover, a:focus, a:active,
.btn-primary:hover,
.pricing .btn-primary,
.btn-icon:hover .text h6,
.btn-icon:hover .text span,
.card.team .card-img .card-img-overlay .social-link,
.btn-transparent:hover,
.navbar-nav.site_nav .nav-item:last-child a.nav-link:hover,
.icon-style-1 i,
.contact .media i,
.pricing .card-body .btn-primary,
.navbar-nav.site_nav .nav-item .dropdown-menu li a:hover,
.btn-outline-white:hover,
.btn-outline-primary, .media-icon-box span, .btn-social:hover, .btn-social:hover i {
  color: #a95eff;
}

.btn-outline-warning, .btn-warning:hover, .banner-section .banner-content .title h2, .btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show > .btn-warning.dropdown-toggle, .footer .social-link a:hover, .footer .list-unstyled a:hover, .nav-item.dropdown .nav-link.active, .nav-item.dropdown .dropdown-toggle.active:after, .nav-item.dropdown .nav-link:hover {
  color: #ffc661;
}

.btn-warning:active, .btn-warning:focus, .btn-primary:active, .nav-item.dropdown .dropdown-menu li a.active, .nav-item.dropdown .dropdown-menu li a:hover, .footer .copyright a:hover {
  color: #ffc661 !important;
}

/*=== Text color important ===*/
.pricing.center .card-body .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  color: #a95eff !important;
}

/*=== Background color ===*/
::-moz-selection {
  background-color: #a95eff;
}
::selection {
  background-color: #a95eff;
}

::-moz-selection {
  background-color: #a95eff;
}

.btn-primary {
  background-color: #a95eff;
}

.bg-secondary, .api-tab-content, .navbar-dark, .card.card-accordion .card-block, .card.card-accordion .card-header a.collapsed {
  background-color: #211349 !important;
}

.nav-tabs.pricing-tabs .nav-item .nav-link:before {
  background-color: #8029a5;
}

h3.section-title-center:after, h3.section-title:after, .btn-outline-warning:hover, .btn-warning, .btn-outline-warning:active, .btn-outline-warning:focus {
  background-color: #ffc661;
}

.btn-outline-warning:active, .btn-outline-warning:focus {
  background-color: #ffc661 !important;
}

.banner-section {
  background-color: #8029a5;
}

.footer {
  background-color: #6931a2;
}

/*=== Gradient Background ===*/
.navbar .navbar-collapse {
  background: linear-gradient(180deg, #8029a5 0%, #211349 100%);
}

.bg-gradient {
  background: linear-gradient(180deg, #211349 0%, #8029a5 100%);
}

.pricing, .card-style-02 {
  background: linear-gradient(120deg, #8029a5 0%, #211349 100%);
}

.banner-section:before {
  background: linear-gradient(180deg, #8029a5 0%, #290c6b 42%);
}

.card.card-accordion .card-header a, #circle:before {
  background: linear-gradient(120deg, #8029a5 0%, #211349 100%);
}

.media-icon-box:before {
  background: linear-gradient(150deg, #8029a5 0%, #211349 100%);
}

.footer:before {
  background: linear-gradient(180deg, #6931a2 0%, #290c6b 100%);
}

/*=== Border color ===*/
.btn-primary, .btn-social, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  border-color: #a95eff;
}

.btn-primary:active, .btn-primary:focus {
  border-color: #a95eff !important;
}

.card.card-accordion .card-header a {
  border-color: #8029a5;
}

.btn-outline-warning, .btn-outline-warning:hover, .btn-warning, .btn-warning:hover, .nav-tabs.api-tabs .nav-item .nav-link:before, .card-style-02 .card-body .btn.btn-outline-warning, .btn-outline-warning:not(:disabled):not(.disabled).active, .btn-outline-warning:not(:disabled):not(.disabled):active, .show > .btn-outline-warning.dropdown-toggle, .btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show > .btn-warning.dropdown-toggle, .api-tab-content pre, .btn-warning:active, .btn-warning:focus {
  border-color: #ffc661;
}

/*=== Svg ===*/
.svg-overlay-shape1 svg .svg-shape-fill {
  fill: #211349;
}

.svg-overlay-shape2 svg .svg-shape-fill {
  fill: #6931a2;
}

/*=== Media Queries ===*/
@media (min-width: 480px) {
  .navbar .container .collapse, .navbar .container .collapsing {
    background-color: transparent;
  }
}

@media (min-width: 768px) {
  .navbar-nav.site_nav .nav-item .dropdown-menu li a.active {
    color: #a95eff;
  }
}
