/*General*/
.tho-option {
	direction: ltr;
}
.tho-option-switcher-btn {
  top: 101px;
	position: fixed;
	background: #363636;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	margin-left: -60px;
	min-width: 60px;
}

.tho-icon-option i {
	display: inline-block;
  cursor: pointer;
	padding: 25px 30px;
	position: relative;
	transform: translateX(0px) scale(1);
	transition: transform 0.3s ease 0s, opacity 0.15s ease 0s;
}
.tho-setting-icon {
  position: relative;
  background-image: url('taf-settings.svg');
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: center center;
}

.tho-icon-option.tho-cross .tho-setting-icon  {
  background-image: url('taf-tiems.svg');
}

.tho-option-switcher {
	right: 0;
	top: 0px;
	color: #fff;
	width: 315px;
	display: block;
	z-index: 555555;
	position: fixed;
	background: #202020;
	border-radius: 0;
	height: 100%;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.tho-option-visible {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}


/*Others*/
.tho-option-switcher .tho-option-switcher-heading {
	color: #fff;
	font-size: 18px;
	font-weight: 200;
}
.tho-subtitle {
	color: #fff;
	font-size: 16px;
	opacity: 0.3;
	display: block;
	margin-bottom: 15px;
	margin-top: 10px;
}
.tho-option-switcher .tho-btn {
	color: #ececec;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 200;
	border: solid 1px #ececec;
	border-radius: 2px !important;
	padding: 4px 10px;
	width: 48%;
	text-align: center;
  margin-right: 10px;
  text-decoration: none;
  line-height: 21px;
}

.tho-option-switcher .tho-btn.tho-active-switcher-btn,
.tho-option-switcher .tho-btn.tho-active-switcher-btn {
	background-color: #ececec;
	color: #000000;
	text-decoration: none;
}

/*Style Swticher Header*/
.tho-option-swticher-header {
	padding: 10px 15px;
	border-radius: 4px 4px 0 0 !important;
	background-color: #363636;
	width: 260px;
	display: block;
	margin: 20px auto;
}

.tho-option-swticher-header .option-switcher-heading {
	margin: 0;
	font-size: 16px;
}

/*Style Swticher Body*/
.tho-option-swticher-body .no-col-space {
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.tho-option-swticher-body hr {
	margin: 11px 0;
	border-color: #454545;
}

.tho-option-swticher-body {
	padding: 15px 15px;
	margin: 0 auto;
	width: 260px;
	background: #454545;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

/*Theme Colors*/
.tho-option-switcher .tho-list-unstyled {
	padding-bottom: 10px;
  padding-left: 0;
  list-style: none;
}

.tho-option-switcher li {
	width: 36px;
	height: 36px;
	cursor: pointer;
	background: #c00;
	display: inline-block;
	border-radius: 10% !important;
	border: solid 2px #909090;
	margin-right: 6px;
}
.tho-option-switcher li:last-child {
	margin-right: 0;
}
.tho-option-switcher li:hover,
.tho-option-switcher li.theme-active,
.tho-option-switcher li.pattern-active {
	border: solid 2px #fff;
}

.tho-option-switcher li.theme-default {
	background-image: linear-gradient(135deg, rgba(150,143,244,1) 45%,rgba(106,182,229,1) 70%);
}
.tho-option-switcher li.theme-color1 {
	background-image: linear-gradient(135deg, rgba(185,99,226,1) 45%,rgba(245,99,161,1) 70%);
}
.tho-option-switcher li.theme-color2 {
	background-image: linear-gradient(135deg, rgba(237,110,16,1) 45%,rgba(237,140,105,1) 70%);
}
.tho-option-switcher li.theme-color3 {
	background-image: linear-gradient(135deg, rgba(56,190,225,1) 45%,rgba(103,205,183,1) 70%);
}
.tho-option-switcher li.theme-color4 {
	background-image: linear-gradient(135deg, rgba(28,218,174,1) 45%,rgba(83,202,122,1) 70%);
}
.tho-option-switcher h3{
	font-size: 14px;
	color: #ffffff;
	margin-bottom: 15px;
	font-weight: 600;
}

.tho-option-switcher .body-background{
	margin-top: 25px;
}
.tho-option-switcher li.pattern-default {
	background: url("pattern1.png") center repeat;
}
.tho-option-switcher li.pattern1 {
	background: url("pattern2.png") center repeat;
}
.tho-option-switcher li.pattern2 {
	background: url("pattern3.png") center repeat;
}
.tho-option-switcher li.pattern3 {
	background: url("pattern4.png") center repeat;
}
.tho-option-switcher li.pattern4 {
	background: url("pattern5.png") center repeat;
}
.tho-option-switcher li.pattern5 {
	background: url("pattern5.png") center repeat;
}
.tho-option-switcher li.pattern6 {
	background: url("pattern6.png") center repeat;
}
.tho-option-switcher li.pattern7 {
	background: url("pattern7.png") center repeat;
}


/* BODY FRAME WITH HEADER */
body {
	padding-top: 0;
  font-family: sans-serif;
  font-size: 14px;
}
body.lp-frame {
	padding-top: 46px;

}
.lp-frame .navbar-sticky{
	margin-top: 46px;
}

/* LIVE PREVEW FRAME CONTAINER */
.lpf-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .lpf-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .lpf-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .lpf-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .lpf-container {
    max-width: 1140px;
  }
}
.lpf-row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
			flex-wrap: wrap;
}
@media (min-width: 768px) {
  .lpf-row {
  	justify-content: space-between;
  }
}


/* WB FRAME */
.live-preview-frame {
	background-color: #000;
	height: 46px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000;
	transition: transform .5s ease-in-out;

}

/* LOGO */
.lpf-logo {
	padding: 9px 0;
	display: none;
}

.lpf-logo a {
  display: block;

}

.lpf-logo img {
  max-width: 100%;
}

@media(min-width:768px){
	.lpf-logo {
		display: block;
    width: 20%;
	}
}

.lpf-btn-purchase,
.lpf-btn-removed {
	display: inline-block;
	background-color: #fff;
	padding: 6px 8px;
  border-radius: 4px;
	margin: 10px 2px;
	text-transform: capitalize;
	line-height: 14px;
	float: right;
  font-size: 12px;
  color: #333;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.lpf-btn-purchase img,
.lpf-btn-removed img {
	width: 13px;
}

@media(min-width: 992px){
  .lpf-btn-purchase img,
  .lpf-btn-removed img {
  	width: 10px;
    margin-right: 5px;
  }
}

.lpf-btn-purchase span,
.lpf-btn-removed span {
	display: none;
}

@media(min-width:768px){
	.lpf-btn-purchase,
	.lpf-btn-removed {
		padding: 6px 10px;
		margin: 10px 7px;
	}
}

@media(min-width:992px){
	.lpf-btn-purchase i,
	.lpf-btn-removed i {
    padding-right: 5px;
	}
	.lpf-btn-purchase span,
	.lpf-btn-removed span {
		display: inline-block;
	}
}

.lpf-btn-purchase:hover,
.lpf-btn-purchase:active,
.lpf-btn-purchase:focus,
.lpf-btn-removed:hover,
.lpf-btn-removed:active,
.lpf-btn-removed:focus {
	color: #333;
  background-color: rgba(255, 255, 255, 0.8);
}

/*Themes dropdown*/
.lpf-dropdown {
	position: relative;
	background-color: #2b2b2b;
	height: 46px;
}
@media(min-width:768px){
  .lpf-dropdown {
    width: 320px;
  }
}

.lpf-themes-dropdown {
  width: 75%;
}
@media(min-width:768px){
  .lpf-themes-dropdown {
    width: 40%;
  }
}

@media(min-width: 992px){
  .lpf-themes-dropdown {
    width: 30%;
  }
}

.lpf-dropdown .lpf-dropdown-toggle {
  color: white;
  text-transform: capitalize;
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  display: block;
  padding: 12px 15px;
  text-decoration: none;
  display: block;
  background-image: url(taf-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 10% 30%;
}

.lpf-dropdown.open .lpf-dropdown-toggle {
  background-image: url(taf-arrow-up.svg);
}


.lpf-dropdown-menu {
	display: none;
}

.lpf-dropdown-menu.open {
	display: block;
}

.lpf-dropdown-item {
	padding: 10px 15px;
	background: #2b2b2b;
	margin: 0 auto;
	transform: none;
	display: block;
	position: relative;
  transition: all .3s ease-in-out;
}

.lpf-dropdown-item:hover {
	color: #fff;
}
.lpf-dropdown-item:last-child {
	padding-bottom: 25px;
}

.lpf-dropdown-item .badge-category {
	float: right;
	background: red;
	padding: 5px 10px;
}

.lpf-badge-category {
  float: right;
  background: red;
  padding: 5px 10px;
}

.lpf-badge,
.lpf-badge-category {
  background-color: #eabf38;
  position: absolute;
  top: 50%;
  margin-left: 7px;
  font-weight: 400;
  transform: translateY(-50%);
  right: 30px;
  line-height: 1;
  font-size: 12px;
  display: inline-block;
  float: right;
  padding: 4px 6px;
  border-radius: 4px;
}

.lpf-badge {
  background-color: #eabf38;
}

.lpf-badge-category {
  background-color: #454545;
}

.lpf-dropdown-item {
	position: relative;
}

.lpf-dropdown .lpf-dropdown-menu a {
	border-bottom: 1px solid #383838;
	color: rgba(255, 255, 255, 0.6);
	font-size: 14px;
  text-decoration: none;
}

.lpf-dropdown .lpf-dropdown-menu a:hover {
	color: #ffffff;
}

/* LPF Promo */
.lpf-project-promo {
    position: absolute;
    right: -420px;
    top: 0px;
    z-index: 5;
    padding: 10px;
    background: #454545;
    border-radius: 6px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.lpf-project-promo img {
	max-width: 400px;
	height: auto;
	overflow: hidden;
}

.lpf-dropdown-item:hover .lpf-project-promo {
	opacity: 1;
	visibility: visible;
}

.lpf-buttons {
  width: 20%
}

@media(min-width: 992px){
  .lpf-buttons {
    width: 33%
  }
}
